

.cosHome {
    color: white;
    margin: 50px;
    text-align: center;
    font-size: 100px;
    font-family: 'Trade Winds', cursive;

    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(183, 0, 255),
    0 0 8px rgb(183, 0, 255),
    0 0 80px rgb(183, 0, 255),
    0 0 100px rgb(183, 0, 255);
}

.home-card {
    box-shadow: 1px 2px 0px 4px black;
    margin-bottom: 50px;
    background-image: url(./images/game-background-0.jpg);
    background-size: cover;

}

.homeImg {
    display: block;
    margin: 50px auto;
}

.btnRow {
    display: flex;
    flex-direction: initial;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle
    
}

.btn {
    width: 40%;
}

.wood:hover { 
    color: #fff;
    text-shadow:
        0 0 1px #fff,
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 4px rgb(0, 153, 255),
        0 0 8px rgb(0, 153, 255),
        0 0 80px rgb(0, 153, 255),
        0 0 100px rgb(0, 153, 255);
}