html, body, #root {
    min-height: 100%;
}
html {
    /* background-color: rgb(40, 90, 40); */
    
    background-image: linear-gradient(#00518f, #2a0c70 );
    background-repeat: no-repeat;
    background-size: 100%;
}

body {
    background:none;
}

button:focus {
    outline: none;
}

h1 {
    font-family: 'Trade Winds', cursive;
}