.wrapper {
    margin: 25px 25px;
}

hr {
    border: 1px solid black;
}

/* Row Styling */
#opponentRow, #opponentDefRow, #opponentAttRow, #userAttRow, #userDefRow {
    display: flex;
    flex-direction: row;
}

#userRow {
    display: flex;
    flex-direction: row-reverse;
}

#opponentDefRow, #opponentAttRow, #userAttRow, #userDefRow {
    justify-content: center;
}

#opponentDefRow {
    margin: 45px 0 0 0;
}

#userDefRow {
    margin: 0 0 45px 0;
}



/* Width Settings */
#opponentAtt1, 
#opponentAtt2, 
#opponentAtt3, 
#userAtt1, 
#userAtt2, 
#userAtt3,
#opponentDef1, 
#opponentDef2, 
#userDef1, 
#userDef2,
#opponentDeck, 
#userDeck, 
#userGrave, 
#opponentGrave {
    width: 12%;
}

/* Attack Styling */
#opponentAtt1, #opponentAtt2, #opponentAtt3, #userAtt1, #userAtt2, #userAtt3 {
    margin-bottom: 50px;
}

#opponentDeck, #userDeck, #userGrave {
    margin-left: 2%;
}

/* Play Area Styling */
#opponentPlayArea {
    width: 60%;
    margin-left: 2%;
}

#userPlayArea {
    width: 60%;
}

#playAreaRow {
    min-height: 65px;
}

#cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.opponentCard {
    max-height: 281px;
    max-width: 187px;
    width: 100%;
}

#opponentCard {
    border: none;
}

@media (max-width: 1500px) {
    #opponentAtt1, 
    #opponentAtt2, 
    #opponentAtt3, 
    #userAtt1, 
    #userAtt2, 
    #userAtt3,
    #opponentDef1, 
    #opponentDef2, 
    #userDef1, 
    #userDef2,
    #opponentDeck, 
    #userDeck, 
    #userGrave, 
    #opponentGrave {
        width: 16%;
    }
}