#signUpCard {
    margin: 70px auto;
    width: 50%;
    background-image: url(./Images/game-background-1.jpg);
    background-size: cover;
    box-shadow: 1px 2px 0px 4px black;

}

#signUpButton {
    display: block;
    margin: 0 auto 50px auto;
    animation-delay: 1s;
    animation-duration: 1s;
}

#alreadyHave, #clickHere {
    color: white;
    text-align: center;
}

label, .signUpTitle, .signInTitle {
    text-shadow: -1px 3px 6px #000, -1px -1px 0 #000, 1px 2px 0 #000, 1px 2px 0 #000;
    font-family: 'Trade Winds', cursive;
    font-size: 25px;
}

#username, #email, #password, #secondPassword {
    border: 2px solid black;
    box-shadow: 0px 2px 10px -1px black;
}

.input-header { 
    color: white;
    font-weight: bolder;
}

@media (max-width: 640px) {
    #signUpCard {
        width: 90%;
    }
}