.profileCard {
    box-shadow: 1px 2px 0px 4px black;
    margin-bottom: 50px;
    /* background-image: url(./Images/game-background.jpg); */
    background-size: cover;
}

.players { 
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}

.avatar {
    background-color: rgba(148, 79, 0, 0.835);
    display: block;
    border: 10px solid transparent;
    border-image-source: url(https://media1.giphy.com/media/5vidmSHUsyoybSYNN0/giphy.gif?cid=ecf05e47ta00vpixh6lraija5cpo2bhvvsif55qgx61zmlkl&rid=giphy.gif);
    border-image-repeat: stretch;
    border-image-slice: 30;
    border-image-width: 10px;       
    box-shadow: 1px 1px 1px 1px black;
    height: 250px;
    width: 250px;
}

.col {
    justify-content: center;
}

h2 { 
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'Trade Winds', cursive;
    font-weight: bolder;
    color: whitesmoke
}

p{ 
    font-family: 'Trade Winds', cursive;
    font-weight: bolder;
    color: whitesmoke
}

.wood{ 
    background-image: url(./Images/woodsign.png) !important;
    width: 300px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:transparent ;
    justify-content: center;
    border: none;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trade Winds', cursive;
    color: rgb(255, 246, 217);
}

.wood:hover {
    transition: ease-in-out 0.2s !important;
    transform: scale(1.05) !important;
}

.vs { 
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(0, 153, 255),
    0 0 8px rgb(0, 153, 255),
    0 0 80px rgb(0, 153, 255),
    0 0 100px rgb(0, 153, 255),
    0 0 120px rgb(0, 153, 255);
}

.row { 
    justify-content: center;
}

.game-input { 
    box-sizing: border-box;
    height: 50px;
    padding: 10px;
    border:0;
    font-family: 'Trade Winds', cursive;
    width: 200px;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    }