.profileCard {
    box-shadow: 1px 2px 0px 4px black;
    margin-bottom: 50px;
    background-image: url(./Images/game-background.jpg);
    background-size: cover;
}

.col-4 {
    justify-content: center;
}

.profileUserName { 
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'Trade Winds', cursive;
    font-weight: bolder;
    color: whitesmoke; 
    font-size: 40px;
}

p { 
    font-family: 'Trade Winds', cursive;
    font-weight: bolder;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    background: none;
    border: none;
    outline: none;
}

.faded {
    opacity: 0.5;
}

.woodProfileButton { 
    background-image: url(./Images/woodsign.png) !important;
    width: 400px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:transparent ;
    justify-content: center;
    border: none;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trade Winds', cursive;
    color: rgb(255, 246, 217);
}

.wood:hover {
    transition: ease-in-out 0.2s !important;
    transform: scale(1.05) !important;
}

.row { 
    justify-content: center;
}

.user-stats { 
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'Trade Winds', cursive;
}

.stats-div {
    margin-left: 5px;
}

.avatarUserProfile { 
    background-color: rgba(46, 0, 98, 0.835);
    display: block;
    border: 10px solid transparent;
    border-image-source: url(https://media1.giphy.com/media/5vidmSHUsyoybSYNN0/giphy.gif?cid=ecf05e47ta00vpixh6lraija5cpo2bhvvsif55qgx61zmlkl&rid=giphy.gif);
    border-image-repeat: stretch;
    border-image-slice: 30;
    border-image-width: 10px;       
    box-shadow: 1px 1px 1px 1px black;
    height: 325px;
    width: 325px;
    margin-bottom: 5px;
}

.chooseAvatar { 
    color: rgb(248, 242, 231) !important;
    font-weight: bolder;
    margin: 10px 0;
    text-align: left;
}

.chooseAvatar:hover { 
    font-weight: bolder;
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(220, 20, 60),
    0 0 8px rgb(220, 20, 60),
    0 0 80px rgb(220, 20, 60),
    0 0 100px rgb(220, 20, 60),
    0 0 120px rgb(220, 20, 60);  
}
.springButton:hover { 
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(20, 220, 37),
    0 0 8px rgb(20, 220, 37),
    0 0 80px rgb(20, 220, 37),
    0 0 100px rgb(20, 220, 37),
    0 0 120px rgb(20, 220, 37);   
}
.summerButton:hover { 
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(238, 255, 1),
    0 0 8px rgb(238, 255, 1),
    0 0 80px rgb(238, 255, 1),
    0 0 100px rgb(238, 255, 1),
    0 0 120px rgb(238, 255, 1);   
}
.fallButton:hover { 
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(255, 94, 0),
    0 0 8px rgb(255, 94, 0),
    0 0 80px rgb(255, 94, 0),
    0 0 100px rgb(255, 94, 0),
    0 0 120px rgb(255, 94, 0);   
}
.winterButton:hover { 
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(20, 213, 220),
    0 0 8px rgb(20, 213, 220),
    0 0 80px rgb(20, 213, 220),
    0 0 100px rgb(20, 213, 220),
    0 0 120px rgb(20, 213, 220);   
}

.closeButtonModal {
    margin-right: 15px !important;
}

.modal-content {
    border: none;
}

.modalBody {
    background-color: rgb(52, 30, 141);
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalFooter {
    background-color: rgb(34, 158, 194);
    border: none;
}

.modalContainer{ 
    justify-content: center;
}

.avatarModal { 
    justify-content: center;
    text-align: center;
}

.springButton { 
    background-color: rgb(142, 209, 42);
}

.summerButton { 
    background-color: rgb(255, 255, 0);
}

.fallButton { 
    background-color: rgb(253, 49, 22);
}

.winterButton { 
    background-color: rgb(116, 201, 235);
}

.springButton, .summerButton, .fallButton, .winterButton { 
    border-color: black;
    margin: 2px;
    color: black
}
