.profileCard {
    box-shadow: 1px 2px 0px 4px black;
    margin-bottom: 50px;
    background-image: url(./Images/game-background.jpg);
    background-size: cover;
}

.col-4 {
    justify-content: center;
}

.col-lg-3 {
    padding-left: 9px;
    margin-bottom: 10px;
}

h2 { 
    justify-content: center;
    margin-bottom: 5px;
    font-family: 'Trade Winds', cursive;
    font-weight: bolder;
    color: whitesmoke
}

p { 
    font-family: 'Trade Winds', cursive;
    font-weight: bolder;
    color: whitesmoke
}

button {
    background: none;
    border: none;
    outline: none;
}

.faded {
    opacity: 0.5;
}

.wood { 
    background-image: url(./Images/woodsign.png) !important;
    width: 300px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color:transparent ;
    justify-content: center;
    border: none;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Trade Winds', cursive;
    color: rgb(255, 246, 217);
}

.wood:hover {
    transition: ease-in-out 0.2s !important;
    transform: scale(1.05) !important;
}

.row { 
    justify-content: center;
}

.user-stats { 
    justify-content: center;
    text-align: center;
    margin: auto;
    font-family: 'Trade Winds', cursive;
}

.stats-div {
    margin-left: 5px;
}

.chooseAvatar { 
    color: rgb(248, 242, 231) !important;
    font-weight: bolder;
    margin: 10px 0;
    text-align: left;
}

.chooseAvatar:hover { 
    font-weight: bolder;
    text-shadow:
    0 0 1px #fff,
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 4px rgb(220, 20, 60),
    0 0 8px rgb(220, 20, 60),
    0 0 80px rgb(220, 20, 60),
    0 0 100px rgb(220, 20, 60),
    0 0 120px rgb(220, 20, 60);  
}

.closeButtonModal {
    margin-right: 15px !important;
}

.modal-content {
    border: none;
}

.modalBody {
    background-color: gray;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalFooter {
    background-color: #444;
    border: none;
}

.modalContainer{ 
    justify-content: center;
}

.avatarModal { 
    justify-content: center;
    text-align: center;
}
