h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

#forgotPasswordCard {
    margin: 100px auto;
    width: 500px;
}

#resetPasswordButton {
    float: right;
}

#signIn {
    color: white;
    text-align: center;
}

#signIn:hover {
    text-decoration: none;
}