#signInCard {
    margin: 70px auto;
    width: 50%;
    background-image: url(./Images/game-background-1.jpg);
    background-size: cover;
    box-shadow: 1px 2px 0px 4px black;

}

#signInButton {
    display: block;
    margin: 0 auto 50px auto;
    animation-delay: 1s;
    animation-duration: 1s;
}

#dontHave, .clickHere, #forgot {
    color: white;
    text-align: center;
    transition: ease-out 0.1s;
}

.clickHere:hover {
    color: rgb(228, 228, 228);
    text-decoration: none;
    transition: ease-in 0.1s;
}

.input-header { 
    color: white;
    font-weight: bolder;
}

@media (max-width: 640px) {
    #signInCard {
        width: 90%;
    }
}