#gameCard { 
    border: none;
    box-shadow: 4px 4px 5px -3px #444;
    left: 0px;
    margin: 0;
    max-height: 281px;
    max-width: 187px;
    top: 0px;
    margin-bottom: 17px;
}

.card-name {
    bottom: 23px;
    color: whitesmoke;
    font-family: 'Trade Winds', cursive;
    font-size: 15px;
    position: relative;
    text-align: center;
    transform: rotate(-4deg);
}

.card-body {
    border: none;
    outline: none;
    padding: 5px;
}

.image-container {
    background-color: rgb(36, 2, 58);
    width: 100%
}

.card-image { 
    width: 100%;
    margin-bottom: 0;
}

.card-frame {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.effect-box {
    position: absolute;
    bottom: 12px;
}

.effect {
    color: white;
    font-size: 11.5px;
    margin-right: 2px;
    margin-left: 7px;
    position: relative;
    text-align: center;
    top: 19px;
}

.stats-box {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly !important;
    bottom: -11px;
}

 .attack, .health { 
    text-align: center;
    background-position: center;
    font-size: larger;
    color: red;
    margin-top: 5px;
    margin-bottom: 0;
}

.health {
    color: rgb(13, 180, 13);
    margin-left: 110px;
}

.attack {
    margin-right: 7px;
}

.resource {
    color: rgb(0, 217, 255);
    position: absolute;
    top: 15px;
    left: 18px;
    font-size: 15px;
}

.mana {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 30px;
}

/* Effect styling */

/* Spring */
.gainOne {
    font-size: 14.5px;
    margin-right: 3px;
    margin-left: 27px;
    top: -7px;
}

.gainTwo {
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 26px;
    top: 15px;
}

.whenPlayed {
    font-size: 13.5px;
    margin-right: 23px;
    margin-left: 20px;
    top: 8px;
}

.whenPlayedGive {
    margin-right: 12px;
    top: 4px;
}

.whenThis {
    font-size: 14.5px;
    margin-right: 15px;
    margin-left: 12px;
    top: 11px;
}

.drawCard {
    font-size: 15.5px;
    margin-right: 2px;
    margin-left: 38px;
    top: -4px;
}

.drawCardUntil {
    font-size: 13px;
    margin-right: 27px;
    margin-left: 28px;
    top: 39px;
}

.drawThree {
    font-size: 14.5px;
    margin-right: 2px;
    margin-left: 36px;
    top: 28px;
}

.whileThis {
    font-size: 10.5px;
    margin-right: 25px;
    margin-left: 22px;
    top: 9px;
}

/* Summer */
.dealFive {
    font-size: 13.5px;
    margin-right: 25px;
    margin-left: 20px;
    top: 6px;
}

.dealSix {
    font-size: 13.5px;
    margin-right: 9px;
    margin-left: 4px;
    top: 5px;
}

.dealTen {
    font-size: 13.5px;
    margin-right: 8px;
    margin-left: 3px;
    top: 42px;
}

.giveAtt {
    font-size: 14.5px;
    margin-right: 31px;
    margin-left: 30px;
    top: 43px;
}

.giveFifteen {
    font-size: 12.5px;
    margin-right: 16px;
    margin-left: 15px;
    top: 38px;
}

.whenPlayedDeal {
    font-size: 11px;
    margin-right: 8px;
    margin-left: 3px;
    top: 2px;
}

.whenPlayedGiveYour {
    margin-right: 36px;
    margin-left: 35px;
    top: 13px;
}

.drawTwo {
    font-size: 16.5px;
    margin-right: 2px;
    margin-left: 32px;
    top: -6px;
}

.whileThisIs {
    font-size: 10.5px;
    margin-right: 27px;
    margin-left: 24px;
    top: 11px;
}

/* Fall */
.drawCardWhen {
    font-size: 15.5px;
    margin-right: 32px;
    margin-left: 24px;
    top: 8px;
}

.destroy {
    font-size: 12.5px;
    margin-right: 31px;
    margin-left: 26px;
    top: 51px;
}

.giveAll {
    font-size: 13.5px;
    margin-right: 9px;
    margin-left: 7px;
    top: 38px;
}

.whenPlayedAtt {
    font-size: 12.5px;
    margin-right: 13px;
    margin-left: 7px;
    top: 3px;
}

.restore {
    font-size: 12.5px;
    margin-right: 9px;
    margin-left: 7px;
    top: 5px;
}

.giveAllYour {
    font-size: 13.5px;
    margin-right: 11px;
    margin-left: 9px;
    top: 5px;
}

.choose {
    font-size: 12.5px;
    margin-right: 16px;
    margin-left: 11px;
    top: 50px;
}

.whenThisDies {
    font-size: 11.5px;
    margin-right: 23px;
    margin-left: 17px;
    top: 15px;
}

@media (max-width: 1300px) {
    .card-name {
        top: -19px;
    }

    .stats-box {
        bottom: -1px;
    }
}