#gameCard { 
    max-height: 281px;
    max-width: 187px;
    justify-content: center;
    background-image: url(./Images/frame_title_lava.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
    position: static;
    left: 0px;
    top: 0px;
    z-index: 0;
}

.card-name { 
    justify-content: center;
    text-align: center;
    font-family: 'Trade Winds', cursive;
    color: pink;
    transform: rotate(-4deg);
    margin-bottom: 20px;
}

.image-container { 
justify-content: center;
height: 175px;
width: 160px
}

.card-image { 
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.effect-box { 
    text-align: center;
}

.effect { 
    color: black;
}

.stats-box { 
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
}



 .attack, .health, .resourse { 
    text-align: center;
    background-position: center;
    font-size: larger;
    color: red
} 